body {
    font-family: 'Walter Turncoat', cursive;
    background-image: url ("images/coffee_beans.jpg");
}

img {
    min-width: 120%;
    margin-left: -10%;
    z-index: -1;
    position: fixed;
    background-attachment: scroll;
}

.container {
    z-index: 0;
    background: rgb(254, 255, 255);
    background: rgba(254, 255, 255, 0.6);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: -40px;
    margin-bottom: 80px;
    padding-bottom: 5px;
}

.list {
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

#add-item {
    background-color: white;
    border: none;
    border-radius: .5px;
    color: rgb(88, 56, 41);
    width: 200px;
    font-size: .9em;
    list-style: none;
    line-height: 1em;
}

#new {}


/*img.delete a:hover {
    float: right;
    margin-top: 3px;
    display: none;
    width: 10px;
}*/

li {
    font-size: 1.2em;
    list-style: none;
    line-height: 1em;
    text-indent: .4em;
}

h1,
h2,
{
    color: rgb(88, 56, 41);
}

header {
    font-size: 2.2em;
    text-align: center;
    letter-spacing: .0825em;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: rgb(88, 56, 41);
    color: white;
}

p {
    font-size: 1em;
    text-align: center;
    text-decoration: uppercase;
    letter-spacing: .0825em;
    color: rgb(139, 115, 87);
    padding: 10px;
    margin: 50px;
}

h1 {
    font-size: 1em;
    background-color: rgb(230, 205, 174);
    color: rgb(88, 56, 41);
    text-indent: .3em;
}

h2 {
    font-size: 1.2em;
    line-height: .7em;
    text-indent: .6em;
}

.strike {
    font-size: 1.2em;
    line-height: .9em;
    text-decoration: line-through;
    color: rgb(139, 115, 87);
    text-indent: .5em;
}

footer {
    position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    margin: 0px;
    width: 100%;
    background-color: rgb(139, 115, 87);
}

.clear, .button {  
     margin-bottom: 0px;
     text-align: center;
     font-size: 1.6em;


}

 
