body {
  	font-family: 'Walter Turncoat', cursive;
    background-image: url ("images/coffee_beans.jpg");
}
img {
	min-width: 120%;
	margin-left: -10%;
	z-index: -1;
	position: fixed;
	background-attachment: scroll;
}



.container{
	z-index: 0;
	background: rgb(254,255,255);	
    background: rgba(254,255,255, 0.6);
	margin-left: 35%;
	margin-right: 35%;
	margin-top: -40px;
	margin-bottom: 80px;
	padding-bottom: 5px;
}

.list {
	z-index: 1;
	margin-left: 5%;
	margin-right: 5%;

}

li {
	font-size: 1.2em;
	list-style: none;
    line-height: 1em;
	text-indent: .4em;
}


h1, h2, {
	color: rgb(88,56,41);

}
header {
    font-size: 2.2em;
    text-align: center;
    letter-spacing: .0825em;
    position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	margin: 0px;
	width:100%;
    background-color: rgb(88,56,41);
    color: white;

}

p {
    font-size: .8em;
    text-align: center;
    color: rgb(139,115,87);
	padding: 10px;
	margin: 50px;
}


h1 {
    font-size: 1em;
    background-color: rgb(230,205,174);
    color: rgb(88,56,41);
    text-indent: .3em;
    }

h2 {
    font-size: 1.2em;
        line-height: .7em;

    text-indent: .6em;
    }


h4 {
	font-size: 1.2em;
	line-height: .7em;
	text-decoration: line-through;
	color: rgb(139,115,87);
	text-indent: .6em;


}  

footer {
	 position: fixed;
	 height: 10px;
	bottom: 0px;
	left: 0px;
	padding: 5px;
	margin: 0px;
	width:100%;
	background-color: rgb(139,115,87);

}
	 /*For option to save list when type added back in.

	 font-size: 1.9em;
	 text-align: center;
	 background-color: rgb(139,115,87);
	 color: rgb(88,56,41);
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 5px;
	margin: 0px;
	width:100%;*/


